html {
  box-sizing: border-box;
  background: #e9f0fd;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* Совет от Александра Репеты, но у меня все картинки на странице занимают ширину врапера */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Для того чтоб слайдер и футер были по ширене на весь экран */
body {
  margin: 0;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
/* Header */
header {
  height: 22px;
  padding: 0 15px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.logo {
  height: 22px;
  float: left;
}
nav {
  height: 22px;
  float: right;
}
.wrapper {
  width: 1170px;
  margin: auto;
  padding: 0 15px;
}
.site-logo {
  float: left;
}
.site-navigation {
  margin: 0;
  padding: 0;
  font-size: 14px;
  list-style: none;
  float: right;
  /* Для выравнивания по центру с логотипом */
  margin-top: 4px;
}
.site-navigation-item {
  float: left;
}
.site-navigation-item:not(:last-child) {
  padding-right: 30px;
}
.site-navigation-link {
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}
.site-navigation-link:hover,
.site-navigation-link:focus {
  color: #1abc9c;
}
/* Slider */
.slider-wrp {
  position: relative;
  height: 600px;
}
.slider-img {
  width: 100%;
  height: 600px;
}
.slider {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
}
.slider-btn {
  --s: 104px;
  background-color: rgb(78, 198, 171);
  opacity: 0.651;
  width: var(--s);
  height: var(--s);
  position: absolute;
  top: 226px;
  cursor: pointer;
  border: none;
  z-index: 20;
}
.slider-btn--right {
  margin-right: 15px;
  right: 15px;
}
.slider-left--left {
  margin-left: 15px;
  left: 15px;
}
.arrow {
  --s: 23px;
  display: inline-block;
  width: var(--s);
  height: var(--s);
  background: transparent;
  border-right: 4px solid #fff;
  border-bottom: 4px solid #fff;
}
.arrow--right {
  transform: rotate(-45deg);
  margin-right: 15px;
}
.arrow--left {
  transform: rotate(135deg);
  margin-left: 15px;
}
.slider-btn:hover {
  opacity: 1;
}
.slider-content {
  position: absolute;
  min-width: 750px;
  top: 220px;
  left: 50%;
  transform: translateX(-50%);
}
.slider-title,
.slider-subtitle {
  text-transform: uppercase;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}
.slider-title {
  font-weight: 800;
  font-size: 46px;
  margin-top: 0;
  margin-bottom: 0;
}
.slider-subtitle {
  font-size: 19px;
  font-weight: 300;
}
/* Collection */
.title {
  font-size: 48px;
  color: #515151;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 75px;
}
.title::after {
  content: "";
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
  margin: 20px auto;
  display: block;
}
.card {
  width: 255px;
  height: 320px;
  margin: 15px;
  cursor: pointer;
  float: left;
}
.card-img-wrp {
  position: relative;
  height: 280px;
  overflow: hidden;
}
.card-text-wrp {
  height: calc(320px - 280px);
  background: #323232;
  overflow: hidden;
  color: #fff;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}
.card-title,
.card-price {
  line-height: calc(320px - 280px);
}
.card-title {
  padding-left: 14px;
  float: left;
}
.card-price {
  padding: 0px 12px;
  background: #8c8c8c;
  float: right;
}
.card:hover .card-text-wrp {
  background: #1abc9c;
}
.card:hover .card-price {
  background: #7fd9c7;
}
.card-modal {
  position: absolute;
  width: 235px;
  height: 260px;
  background-color: #000000;
  opacity: 0;
  margin: 10px;
  top: 0px;
  left: 0px;
  z-index: 10;
}
.card:hover .card-modal {
  opacity: 0.39;
}
.card-icon-wrapper {
  position: absolute;
  width: 235px;
  opacity: 0;
  top: 90px;
  left: 24px;
  z-index: 20;
}
.icon-btn {
  --s: 50px;
  box-sizing: border-box;
  background: transparent;
  margin: 0 8px 10px;
  height: var(--s);
  width: var(--s);
  border: 1px solid #fff;
  cursor: pointer;
  float: left;
}
.card:hover .card-icon-wrapper {
  opacity: 1;
}
.icon {
  margin: 9px auto;
}
.icon-btn--add {
  width: 182px;
  background-color: #323232;
}
.icon--add {
  float: left;
  margin-left: 10px;
}
.icon-btn--add--text {
  text-transform: uppercase;
  float: left;
  margin-top: 16px;
  margin-left: 20px;
}
.icon-btn:hover {
  background: #1abc9c;
}
/* Footer */
footer {
  width: 100%;
  height: 88px;
  background: #323232;
  text-align: center;
  padding-top: 20px;
}
.footer-rights {
  color: #fefefe;
  font-family: "Open Sans", sans-serif;
}
.footer-rights-color {
  color: #1abc9c;
}
