.container {
  max-width: 1200px;
  margin: 0 auto;
}
/* HEADER */
header {
  background-image: -webkit-gradient(
      linear,
      left bottom, left top,
      from(rgba(251, 227, 137, 0.9)),
      to(rgba(243, 138, 129, 0.9))
    ),
    url(../img/background.png);
  background-image: -webkit-linear-gradient(
      bottom,
      rgba(251, 227, 137, 0.9) 0%,
      rgba(243, 138, 129, 0.9) 100%
    ),
    url(../img/background.png);
  background-image: -o-linear-gradient(
      bottom,
      rgba(251, 227, 137, 0.9) 0%,
      rgba(243, 138, 129, 0.9) 100%
    ),
    url(../img/background.png);
  background-image: linear-gradient(
      0deg,
      rgba(251, 227, 137, 0.9) 0%,
      rgba(243, 138, 129, 0.9) 100%
    ),
    url(../img/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.site-nav {
  font-size: 14px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding: 0;
  list-style: none;
}
.site-nav__link {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}
.site-nav__link::after {
  content: "";
  display: block;
  height: 6px;
  width: 0;
  border-bottom: 3px solid #fce38a;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.site-nav__link:hover {
  color: #fce38a;
}
.site-nav__link:hover::after {
  width: 100%;
}
/* WELCOME */
.welcome__subtitle {
  font-size: 72px;
  color: #fff;
  font-family: "Kaushan Script", sans-serif;
  font-weight: 400;
  text-align: center;
}
.welcome__title {
  font-size: 150px;
  line-height: 140px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.welcome__button {
  display: block;
  width: 160px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 10px 28px;
  margin: 0 auto;
  border: 3px #fff solid;
  background: inherit;
  cursor: pointer;
}
/* MAIN */
.main {
  padding: 48px 6px 80px;
}
.team__subtitle,
.services__subtitle {
  text-align: center;
  font-size: 24px;
  font-family: "Kaushan script", cursive;
  color: #333;
  font-weight: 400;
}
.team__title,
.services__title {
  text-transform: uppercase;
  font-size: 30px;
  color: #333;
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
  text-align: center;
  /* margin-bottom: 30px; */
}
.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 10px;
}
.service__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 50px 0;
}
.service__img-wrp {
  min-width: 80px;
  text-align: center;
  -ms-flex-preferred-size: 80px;
      flex-basis: 80px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.service__title {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  line-height: 1;
  margin: 0 0 0 calc((14px * 1.5 - 14px) / 2);
}
/* SECTION TEAM */
.team__members {
  margin-bottom: 80px;
}
.team__description {
  margin: 0 auto;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: #999;
  text-align: center;
  width: 100%;
  margin-bottom: 86px;
}
.team__item {
  width: 100%;
  position: relative;
  margin-bottom: 30px;
}
.member__img-wrp {
  height: 470px;
  width: 380px;
  background-color: #95e1d3;
  margin-bottom: 30px;
}
.member__img {
  cursor: pointer;
  position: relative;
  bottom: 0;
  right: 0;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social {
  position: absolute;
  height: 470px;
  width: 380px;
  top: 0;
  left: 0;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background: -webkit-gradient(linear, left top, left bottom, from(#ed8889), to(#eed787));
  background: -webkit-linear-gradient(#ed8889, #eed787);
  background: -o-linear-gradient(#ed8889, #eed787);
  background: linear-gradient(#ed8889, #eed787);
  opacity: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}
.social__link {
  --s: 57px;
  width: var(--s);
  height: var(--s);
  background: #fce38a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5px;
}
.social__svg {
  width: 32px;
  height: 32px;
  fill: #f38181;
  -webkit-transition: fill 0.2s linear;
  -o-transition: fill 0.2s linear;
  transition: fill 0.2s linear;
}
.social__link:hover .social__svg {
  fill: #fff;
}
.team__item:hover .member__img {
  bottom: 10px;
  right: 10px;
}
.team__item:hover .social {
  opacity: 0.9;
  top: -10px;
  left: -10px;
}
.social__link:hover {
  background-color: #95e1d3;
}
.member__name {
  margin: 0;
  font-size: 18px;
  color: #333;
  font-family: "Montserat", sans-serif;
  font-weight: 400;
  text-align: center;
  text-shadow: 6px 4px 4px rgba(0, 0, 0, 0.5);
}
.member__occupation {
  margin: 0;
  font-size: 15px;
  line-height: 24px;
  color: #999;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 6px 4px 4px rgba(0, 0, 0, 0.4);
}
/* FOOTER */
footer {
  padding: 12px 6px;
  min-height: 64px;
  border-top: 1px solid #e5e5e5;
}
.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.copyright__rights-color {
  color: #f38181;
}

form {
  font-size: 0;
  vertical-align: middle;
}

input {
  font-size: 16px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  vertical-align: middle;
}

input[type="email"] {
  width: 230px;
  height: 40px;
  border: 1px solid #e7e7e7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 1rem;
}
input[type="submit"] {
  width: 152px;
  height: 40px;
  background: #95e1d3;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-family: "Montserrat", serif;
  font-size: 14px;
  font-weight: bold;
}
input::-webkit-input-placeholder {
  color: #e7e7e7;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 15px;
}
input:-ms-input-placeholder {
  color: #e7e7e7;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 15px;
}
input::-ms-input-placeholder {
  color: #e7e7e7;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 15px;
}
input::placeholder {
  color: #e7e7e7;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 15px;
}
