.member {
  &__img-wrp {
    @include sizes(380px, 470px);
    background-color: $primery-bg-color;
    margin-bottom: 30px;
  }
  &__img {
    cursor: pointer;
    position: relative;
    bottom: 0;
    right: 0;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }

  &__name {
    margin: 0;
    font-size: 18px;
    color: #333;
    font-family: 'Montserat', sans-serif;
    font-weight: 400;
    text-align: center;
    text-shadow: 6px 4px 4px rgba(0, 0, 0, 0.5);
  }
  &__occupation {
    @include font-settings(15px, 24px);
    margin: 0;
    color: #999;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    text-shadow: 6px 4px 4px rgba(0, 0, 0, 0.4);
  }
}
