.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 10px;

  &__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin: 50px 0;
  }

  &__img-wrp {
    min-width: 80px;
    text-align: center;
    -ms-flex-preferred-size: 80px;
    flex-basis: 80px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }

  &__title {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    line-height: 1;
    margin: 0 0 0 calc((14px * 1.5 - 14px) / 2);
  }
  @media (min-width: 768px) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 246px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 0;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    &__item {
      width: 290px;
      margin: 0;
      padding-left: 70px;
      position: relative;
    }
  }
}
